@use '../colors.scss';
@use '../base.scss';

$map-keys: colors.$color-map !default;

.CircuitInfo__Examined {
  background-color: var(--color-black);
  padding: var(--space-ml);
  border-radius: var(--border-radius-large);

  user-select: none;
  pointer-events: none;
}

.ObjectComponent {
  pointer-events: auto;
}

.ObjectComponent__Titlebar {
  border-top-left-radius: var(--border-radius-huge);
  border-top-right-radius: var(--border-radius-huge);

  white-space: nowrap;

  -ms-user-select: none;
  user-select: none;
}

.ObjectComponent__Content {
  white-space: nowrap;
  background-color: hsla(0, 0%, 0%, 0.5);

  -ms-user-select: none;
  user-select: none;
}

.ObjectComponent__PortPos {
  position: absolute;
  inset: 0;
}

@each $color-name, $color-value in $map-keys {
  .color-stroke-#{$color-name} {
    stroke: hsl(from $color-value h s calc(l + var(--adjust-color))) !important;
  }

  .color-fill-#{$color-name} {
    fill: hsl(from $color-value h s calc(l + var(--adjust-color))) !important;
  }
}

.IntegratedCircuit__BlueBorder {
  border: var(--border-thickness-tiny) solid var(--color-border-primary);
  border-radius: var(--border-radius-small);
}

$category-colors: (
  'Utility': (
    bg: hsl(49, 84%, 41%),
    contrast: white,
  ),
  'Entity': (
    bg: hsl(288, 60%, 49%),
    contrast: white,
  ),
  'Sensor': (
    bg: hsl(337, 58%, 55%),
    contrast: white,
  ),
  'Math': (
    bg: hsl(138, 69%, 33%),
    contrast: white,
  ),
  'Unassigned': (
    bg: hsl(197, 65%, 47%),
    contrast: white,
  ),
  'String': (
    bg: hsl(24, 84%, 48%),
    contrast: white,
  ),
  'List': (
    bg: hsl(4, 73%, 47%),
    contrast: white,
  ),
  'Action': (
    bg: hsl(101, 63%, 43%),
    contrast: white,
  ),
  'NTNet': (
    bg: hsl(231, 57%, 48%),
    contrast: white,
  ),
  'Abstract': (
    bg: hsl(212, 65%, 47%),
    contrast: white,
  ),
  'BCI': (
    bg: rgb(131, 26, 201),
    contrast: white,
  ),
);

@each $category-name, $values in $category-colors {
  .ObjectComponent__Category__#{$category-name} {
    background-color: map-get($values, bg);
    color: map-get($values, contrast);
  }
}
