/* Codex Styling - Based on Baystation12 */

body {
    background-color: #272727;
    color: #ffffff;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    line-height: 170%;
    padding: 0;
    margin: 0;
}

a {
    background: #40628a;
    color: #ffffff;
    padding: 1px 4px 1px 4px;
    text-decoration: none;
    border: 1px solid #161616;
    margin: 0 1px 0 1px;
    white-space: nowrap;
}

a:hover {
    background: #ffffff;
    color: #40628a;
}

hr {
    border: 0;
    height: 1px;
    background-color: #40628a;
}

h1, h2, h3, h4, h5, h6 {
    color: #517087;
    margin: 0;
    padding: 16px 0 8px 0;
}

h1 {
    font-size: 15px;
}

h2 {
    font-size: 14px;
}

h3 {
    font-size: 13px;
}

h4 {
    font-size: 12px;
}

ul {
    padding: 4px 0 0 10px;
    margin: 0;
    list-style-type: none;
}

li {
    padding: 0 0 2px 0;
}

.uiContent {
    padding: 8px;
}
